main { 
  margin: 0 auto;
    
  display: grid;
  grid-template-columns: 1fr;
}

.cast {  
  display: flex;
  flex-wrap: wrap;
}


/* Example: Change color of play button */
.plyr__control--overlaid {
  background: coral;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: black;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: coral;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: coral;
  font-size: 2em;
}

/* Example: Change playtime font size  */
.plyr__time {
    font-size: 24px;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

  /*  Control positionof player  */
  .trailer {
    display: flex;
    justify-content: center; 
  }
  
  /* Set Width of Player */
  .plyr {
    width: 80%;
  }
  
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }
  
   /* Set Width of Player */
  .plyr {
    width: 60%;
  }

}
