
@import url("https://use.typekit.net/jfz2kae.css");
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400&display=swap');

#body { 
  background-color: #000000;
  margin: 25px 25px;
  display: grid;
  grid-template-columns: 1fr; 
}

/* Centered all containers for consistency across display types */
#main {
  margin: 0 auto;
}

/* Will change to Font/Glphys is can't fig-out how to scale for media queries */
.svgMainTitle {
  margin: 0 auto;
  display: block;
  padding: 25px 0px 0px;
  max-width: 400px;
}

/* Still NOT WORKING in Gitbub Version - works well in VSC & Codepen versions */
#player {
  display: flex;
  min-width: 100%;
}

#trailer {
  padding: 50px 25px;
  min-width: 100%;
}


.blockquoteDIV {
  margin: 0 auto;
  display: block;
  max-width: 1200px;
}

.blockquote {
  font-size: 2rem;
  text-shadow: 3px 3px #8e341b;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #c5c6c7;;
  font-family: 'Rye', cursive;
  text-align: center;
}  

/* H1 Synopsis in Magneto */
.Synopsis {
  padding: 0px 0px 40px 0px;
  text-shadow: 1px 1px 4px #c5c6c7;
  font-family: Magneto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.9rem;
  line-height: 1.25%;
  letter-spacing: 0.02em;
  color: #8E341B;
}

/* Synopsis container content */
.info {
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px 10px;
}

/* Synopsis content */
.description {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 1.45px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #c5c6c7;
}

/* H1 Starring in Magneto */
.Starring {
  padding: 0px 0px 40px 0px;
  text-shadow: 1px 1px 4px #c5c6c7;
  font-family: Magneto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.9rem;
  line-height: 1.25%;
  letter-spacing: 0.02em;
  color: #8E341B;
}

.cast {  
  color: #c5c6c7;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
  letter-spacing: .5px;
  text-align: center;
}

.cast:hover {
  color: #8e341b;
}

/* Lead Actors Styling */
.img {
  padding: 5px;
  border-radius: 20px;
  width: 212px;
  border-image-slice: 72 72 72 72 fill;
  border-image-width: 15px 15px 15px 15px;
  border-image-outset: 15px 15px 15px 15px;
  border-image-repeat: round round;
  border-image-source: url(https://www.dropbox.com/s/cmfq4sk3co0a0sk/racecar-clipart-banner-13-transparent.png?raw=1)  
  }

/* Sources & Add'l content bullet links near bottom */
.MoreInsights {
  padding: 0px 0px 40px 0px;
  text-shadow: 1px 1px 4px #c5c6c7;
  font-family: Magneto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.9rem;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #8E341B;
}

aside {
  padding: 5px 15px;
  background-color: rgba(150, 0, 0, 0.3);
  box-shadow: 5px 5px #c5c6c7;
  border-radius: 15px;
  max-width: 600px;
}

/* Source Link Container */
.Sources {
  max-width: 600px;  
}  

ul {
  color: #c5c6c7;
  line-height: 2.2;
}

/* Source link styling */
a {
    color: #c5c6c7;
    font-family: 'Rye', cursive;
    font-size: 1rem;
}

a:hover,
a:focus {
    color: #8e341b;
}

/* Copy Right to Movie Company */
footer {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1.45px;
  line-height: 1.6;
  margin: 100px 0px;
  color: #c5c6c7;
}

/* Example: Change color of play button */
.plyr__control--overlaid {
  background: #E8A87C;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: #F79E02;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: #E8A87C;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: #E8A87C;
  font-size: 2em;
}

/* Example: Change playtime font size  */
.plyr__time {
    font-size: 24px;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media and (max-width: 416px) { 
    
    #header, .svgMainTitle, .img {
    max-width: 300px;
    font-size: 1.5rem;
}
    .plyr {
    max-width: 100%;
  }
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {

  .blockquote, .info {
       max-width: 900px;
       
  }
}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 

  .blockquote, .info {
       max-width: 1200px;
  }

  /*  Control positionof player  */
  #trailer {
    display: flex;
    justify-content: center; 
  }
  
  /* Set Width of Player */
  .plyr {
    width: 80%;
  }
  
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 

  .blockquote, .info {
       max-width: 1200px;
  }
  
   /* Set Width of Player */
  .plyr {
    width: 60%;
  }

}