/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Parent Container */
main { 
  display: grid;
  grid-template-columns: 1fr;
}

/* The Cast of the movie */
.cast {  
  display: flex;
  flex-wrap: wrap;
}


/* Custom UI Controls */

/* Example: Change color of play button */
.plyr__control--overlaid {
  background: coral;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: black;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: coral;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: coral;
  font-size: 2em;
}
/* Media Queries */
/* 
  Mobile: 
  * 384px = 24em
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  
  * 768px = 48em 
*/
@media only screen and (min-width: 24em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 
  * 1152px = 72em
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}




@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  } 
    
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}

