/* font-family: 'Rye', cursive;
font-family: 'Oswald', sans-serif;
*/


@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css?family=Molengo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400&display=swap');


body { 
  background-color: #000000;
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 1fr;
  
}

/*
main {
  
}
*/

.svgMainTitle {
  margin: 0 auto;
  display: block;
  padding: 75px 0px 0px;
  max-width: 100%;

}

#player {
  border-radius: 10px;
}

.trailer {
  display: block;
  padding: 25px 25px;
  max-width: 100%;
}

blockquote {
  font-size: 2rem;
  text-shadow: 1.5px 1.5px #8e341b;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #c5c6c7;;
  font-family: 'Rye', cursive;
  text-align: center;
}
/*
.info {

}

.svgSynopsis {

}
*/

.description {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1.15rem;
  letter-spacing: 1.45px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #e5e5e5;
}

.svgStarring {
  position: relative;  
}

img {
  border-radius: 10px;
  border: 1px;
}

.cast {  
  color: #c5c6c7;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Rye', cursive;
  letter-spacing: .5px;
}

aside {
  color: #c5c6c7;
}

.Sources {
  max-width: 90%;
  border-radius: 15px;
  background: #c5c6c7;
}

ul {

  padding: 20px 25px;
  color: #c5c6c7;
  line-height: 2;
}

/* Sources and Addl Content Link Styles for ul  */
a {
    color: #8e341b;
    font-family: 'Rye', cursive;
    font-size: 1.25rem;
}

a:hover,
a:focus {
    color: #000000;
}


/* Example: Change color of play button */
.plyr__control--overlaid {
  background: #E8A87C;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: #F79E02;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: #E8A87C;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: #E8A87C;
  font-size: 2em;
}

/* Example: Change playtime font size  */
.plyr__time {
    font-size: 24px;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: #c5c6c7;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: #c5c6c7;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: #c5c6c7;
       content: "Desktop Size";
  }

  /*  Control positionof player  */
  .trailer {
    display: flex;
    justify-content: center; 
  }
  
  /* Set Width of Player */
  .plyr {
    width: 80%;
  }
  
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: #c5c6c7;
       content: "Wide Desktop Size";
  }
  
   /* Set Width of Player */
  .plyr {
    width: 60%;
  }

}