/* font-family: 'Damion', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Merriweather Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

body { 
  background-color: #CCBAA4;
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 1fr;
  
}

img {
  border-radius: 10px;
  border: 1px;

}

.info {
   font-family: 'Merriweather Sans', sans-serif;
   line-height: 1.6;

}

ul {
  line-height: 2;
  font-family: 'Merriweather Sans', sans-serif;
}

.svgMainTitle {
  margin: 0 auto;
  display: block;
  padding-bottom: 50px;
  max-width: 100%;

}

.svgStarring {
  position: relative;
  
}

.cast {  
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather Sans', cursive;
}

blockquote {
  font-size: 1.75rem;
  color: #8e341b;
  font-family: 'Merriweather Sans', cursive;
  text-align: center;
}

/* Example: Change color of play button */
.plyr__control--overlaid {
  background: #E8A87C;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: #F79E02;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: #E8A87C;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: #E8A87C;
  font-size: 2em;
}

/* Example: Change playtime font size  */
.plyr__time {
    font-size: 24px;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

  /*  Control positionof player  */
  .trailer {
    display: flex;
    justify-content: center; 
  }
  
  /* Set Width of Player */
  .plyr {
    width: 80%;
  }
  
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }
  
   /* Set Width of Player */
  .plyr {
    width: 60%;
  }

}
